@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white font-epilogue;
  }
  body {
    @apply bg-[#13131A];
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

.bold-text {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
}

.text {
  font-family: "Epilogue", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  width: pointer;
  filter: invert(0.8);
}
